@media (max-width: 991px) {
  .navbar .btn-blue {
    display: none;
  }
}

@media (max-width: 767px) {
  .navbar .btn-blue {
    display: none;
  }
  .hero-img-box {
    display: none;
  }

  #about img {
    max-width: 70%;
    display: block;
    margin: auto;
  }
}
